/* docs */

body {
  overflow: auto;
}

.docs p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

.docs h1 {
  font-size: x-large;
  font-weight: 700;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
}

.docs h1:first-of-type {
  margin-top: 1em;
}

.docs h2 {
  font-weight: 600;
  margin-top: 1.83em;
  margin-bottom: 1.83em;
}

.docs h3 {
  font-weight: 500;
  margin-top: 1em;
  margin-bottom: 1em;
}

.docs ul {
  display: block;
  list-style-type: disc;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-left: 40px;
}

.docs li {
  margin: 1rem 0 1rem 0;
}

.docs div[role="alert"] {
  margin: 1.5rem 0 0 0;
}

.docs table td {
  padding: 1rem;
  border: 1px solid #DCDDDD;
}

.docs pre {
  margin: 2rem 0 2rem 0;
}

.docs table {
  margin: 0 0 2rem 0;
}