body {
  @apply bg-gray-200;
}

h1 {
  @apply text-3xl font-bold;
  font-family: Inter, sans-serif;
}

h2 {
  @apply text-xl;
  font-family: Inter, sans-serif;
}

h3 {
  @apply text-lg;
  font-family: Inter, sans-serif;
}

a {
  @apply text-primary-500 font-bold;
  font-family: Inter, sans-serif;
}

button {
  font-family: Inter, sans-serif;
}

blockquote {
  border-left: 4px solid #718096; /* text-gray-600 */
  @apply pl-3;
}