body {
  @apply bg-gray-200;
  font-family: 'IBM Plex Sans', sans-serif;
  background: linear-gradient(180deg, rgba(2,130,180,1) 0%, rgba(24,171,227,1) 50%, rgba(255,255,255,1) 100%);
}

h1 {
  @apply text-3xl font-bold;
  font-family: 'IBM Plex Mono', monospace;
}

h2 {
  @apply text-xl;
  font-family: 'IBM Plex Mono', monospace;
}

h3 {
  @apply text-lg;
  font-family: 'IBM Plex Mono', monospace;
}

a {
  @apply text-primary-500 font-bold;
  font-family: 'IBM Plex Sans', sans-serif;
}

button {
  font-family: 'IBM Plex Sans', sans-serif;
}

blockquote {
  border-left: 4px solid #718096; /* text-gray-600 */
  @apply pl-3;
}