body {
  font-family: 'Open Sans', sans-serif;
}

.hover-zoom {
  -webkit-transition: all 0.075s ease-in-out;
  transition: all 0.075s ease-in-out;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.hover-zoom:hover {
  background-size: 105%;
}

.hover-zoom a {
  transition: all 0.075s ease-in-out;
}

.hover-zoom a.fade {
  background:rgba(0,0,0,0.5);
}

.hover-zoom a.fade:hover {
  background:rgba(0,0,0,0);
}

h1 {
  @apply text-3xl font-bold;
  font-family: Inter, sans-serif;
}

h2 {
  @apply text-xl;
  font-family: Inter, sans-serif;
}

h3 {
  @apply text-lg;
  font-family: Inter, sans-serif;
}

a {
  @apply text-primary-500 font-bold;
  font-family: Inter, sans-serif;
}

button {
  font-family: Inter, sans-serif;
}

ul {
  list-style: disc;
  @apply pl-4;
}

ol {
  list-style: disc;
  @apply pl-4;
}

blockquote {
  border-left: 4px solid #718096;
  @apply pl-3;
}

.queries .item.new {
  @apply bg-secondary-400;
}

.import-items .item.new {
  @apply bg-secondary-400;
}

.skeleton-box {
  position: relative;
  overflow: hidden;
}

.skeleton-box:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.35) 40%,
    rgba(255, 255, 255, 0.35) 60%,
    rgba(255, 255, 255, 0)
  );
  animation: shimmer 3s infinite;
  content: "";
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}